### Java/Maven ###
**/target/
*.class
*.log
*.jar
*.war
*.ear

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache

### OS Specific ###
.DS_Store
Thumbs.db
Desktop.ini

### CPAS Specific ###
/keys/
*.pem
*.key

### Docker ###
.docker/
docker-compose.override.yml
